:root {
  --primary-bg-color: #dde8e1;
  --heading-color: #f3f4f4;
  --input-border-color: #ccc;
  --input-focus-color: #e6ebf0;
  --button-bg-color: #5cb85c;
  --button-hover-color: #3d1db3;
  --text-color: #f0f3f2;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--primary-bg-color);
  background-image: url("../bg.jpg");
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  background: var(--container-bg-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgb(216, 228, 217);
}

h1 {
  text-align: center;
  color: var(--heading-color);
}

.form-group {
  margin-bottom: 15px;
  color: #5cb85c;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  font-size: 16px;
  color: rgb(10, 9, 9);
}

input[type="number"]:focus {
  border-color: var(--input-focus-color);
  outline: none;
  color: #000000;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--button-bg-color);
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover-color);
}

#result {
  margin-top: 20px;
  text-align: center;
  color: #dde8e1;
}

.prediction-card {
  background-color: #f3f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  color: #333333;
}

#prediction-output {
  font-size: 1.2em;
  color: #000000;
  text-align: left;
  line-height: 1.6;
}

.prediction-card h2 {
  color: #5cb85c;
  text-align: center;
  font-size: 1.6em;
}

.prediction-card strong {
  color: #3d1db3;
}
